<div id="accordion" class="container">

  <div class="row">

    <div class="card col-12" *ngFor="let definition of definitions">
      <div class="card-header text-center text-lg" id="{{ 'heading' + definition.id }}">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapse' + definition.id" aria-expanded="true" attr.aria-controls="{{ 'collapse' + definition.id }}" >
              {{definition.name}}
            </button>
          </h5>
      </div>

      <div id="{{ 'collapse' + definition.id }}" class="collapse" attr.aria-labelledby="{{ 'heading' + definition.id }}" data-parent="#accordion">
        <div class="card-body">
          {{definition.description}}
        </div>
      </div>
    </div>

  </div>

</div>