.definition
{
    font-family: "Times New Roman", Times, serif;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size : 1.5em;
}

.card-header
{
    border-bottom : 1px solid white;
}

.break-word
{
    white-space: pre-line;
}

.bg-black
{
    background-color : black;
}

.bg-light-black
{
    background-color : rgb(40,40,40);
}

.btn-link
{
    color : white;
}

button
{
    text-decoration : none; 
    font-size : 1em;
    background-color : #000;
    border : none;
    color : #FFF;
    font-weight : normal;
    transition : all 1s ease-in-out; 
}

button:hover
{
    text-decoration: underline;
    background-color : #555;
    border : 1px solid #FF0;
    color : #FF0;
    font-weight : bolder;
    transition: background-color 0.5s ease-in-out, border 1s ease-in-out, color 1s ease-in-out, font-weight 0.5s ease-in-out;
}

.card
{
    opacity : 0.75;
    border : 2px solid white;
    transition : all 2s ease-in-out; 
}

.card:hover
{
    opacity : 1;
    border : 2px solid #FF0;
    transition : all 2s ease-in-out;
}